---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.orcid.org/v3.0/0000-0003-3437-349X/work
    body:
      encoding: UTF-8
      string: '{"title":{"title":{"value":"Strategies for Digital Library Migration"}},"short-description":"A
        migration of the datastore and data model for Stanford Digital Repositorys
        digital object metadata was recently completed.","citation":{"citation-type":"formatted-unspecified","citation-value":"Littman,
        J. and Giarlo, M. (2023). Strategies for Digital Library Migration. Stanford
        Digital Repository. Available at https://sul-purl-stage.stanford.edu/ny296bw4297.
        https://doi.org/10.80343/ny296bw4297."},"type":"journal-article","publication-date":{"year":{"value":"2023"},"month":{"value":"02"},"day":{"value":"06"}},"external-ids":{"external-id":[{"external-id-type":"uri","external-id-value":"https://purl.stanford.edu/hj302gv2126","external-id-url":{"value":"https://purl.stanford.edu/hj302gv2126"},"external-id-relationship":"self"},{"external-id-type":"doi","external-id-value":"10.25740/hj302gv2126","external-id-url":{"value":"https://doi.org/10.25740/hj302gv2126"},"external-id-relationship":"self"}]},"url":"https://purl.stanford.edu/hj302gv2126","contributors":{"contributor":[{"credit-name":{"value":"Justin
        Littman"}}]},"language-code":"en","country":{"value":"US"}}'
    headers:
      Authorization:
      - Bearer private_bearer_token
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.sandbox.orcid.org/v3.0/0000-0003-3437-349X/work/1755750
      X-Target:
      - mapi-a1
      X-Via:
      - b1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Jul 2023 18:24:53 GMT
recorded_with: VCR 6.2.0
